<!doctype html>
<html lang="en">

<head>
    <title>Electron Motors</title>
    <% include ../partials/header.ejs %>
</head>

<body class="home">
    <div id="app" class="page-wrapper">
        <div>
            <% include ../partials/nav.ejs %>
        </div>

        <div class="main text-center">
            <h1>Get ready.</h1>
            <div id="car-wrapper">
                <img id="car-photo" v-bind:src="'/images/' + vehicle.model__c.toLowerCase() + '.png'" v-bind:style="{'-webkit-filter': 'hue-rotate(' + vehicle.paint__c + 'deg)'}" />
            </div>
            <div class="message">
                LEARN ABOUT OUR NEW 2020 MODELS.
            </div>
        </div>
        <div>
            <% include ../partials/login.ejs %>
        </div>
    </div>

    <div>
        <% include ../partials/footer.ejs %>
    </div>
</body>

</html>