<!doctype html>
<html lang="en">

<head>
    <title>Electron Motors</title>
    <% include ../partials/header.ejs %>
</head>

<body class="home">
    <div id="app" class="page-wrapper">
        <div>
            <% include ../partials/nav.ejs %>
        </div>

        <div class="main text-center">
            <h1>Get ready.</h1>
            <div class="actions">
                <button onclick="location.href='/customize'" class="primary">Order My Vehicle</button>
                <button>Test Drive {{ vehicle.model__c }} Series</button>
            </div>
            <div id="car-wrapper">
                <img id="car-photo" v-bind:src="'/images/' + vehicle.model__c.toLowerCase() + '.png'" v-bind:style="{'-webkit-filter': 'hue-rotate(' + vehicle.paint__c + 'deg)'}" />
            </div>
            <div class="customization">
                <strong>Coming Soon:</strong> Edit Your Design
            </div>
        </div>
        <div>
            <% include ../partials/login.ejs %>
        </div>
    </div>

    <div>
        <% include ../partials/footer.ejs %>
    </div>
</body>

</html>